

<div class="container">

  <div class="content">

    <div class="grid">
      <figure class="effect-roxy">
        <img src="/assets/images/cardcom.png" height="140px">
        <figcaption>
          <h2>CardCom <span> project</span></h2>
          <p>BY Elisha Levi</p>
          <p>15/02/2020</p>
          <p>Version : 1.00 </p>
          <a href="#">View more</a>
        </figcaption>
      </figure>
    </div>




    <div style="clear:both"></div>

  </div>

  <router-outlet ></router-outlet>

</div>
